<div id="<%= dom_id project_launch %>">
  <p>
    <strong>Name:</strong>
    <%= project_launch.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_launch.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= project_launch.date %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= project_launch.image %>
  </p>

</div>
