<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= profile.twitter %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= profile.github %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= profile.linkedin %>
  </p>

</div>
