<div class="box project" style="height: 100px;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-60x60">
        <img src="<%= project.image %>" alt="<%= project.name %>" style="height: 60px; width: 60px;">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-5">
          <%= project.name %>
          <input type="checkbox" class="project-checkmark" data-project-id="<%= project.id %>" 
          <% if current_user&.project_checkmarks&.exists?(project_id: project.id, checked: true) %>
              checked="checked"
          <% end %>
          />
        </h2>
        <nav class="level is-mobile">
          <div class="level-left">
            <% displayed_social_media = [] %>
            <% project.profiles.each do |profile| %>
              <% displayed_social_media << :twitter if profile.twitter.present? %>
              <% displayed_social_media << :github if profile.github.present? %>
              <% displayed_social_media << :linkedin if profile.linkedin.present? %>
              <% displayed_social_media << :website if profile.websites.present? %>
              <% displayed_social_media << :instagram if profile.instagram.present? %>
            <% end %>
            <% displayed_social_media.uniq.each do |platform| %>
              <% icon_class = case platform
                              when :twitter then "fab fa-twitter"
                              when :github then "fab fa-github"
                              when :linkedin then "fab fa-linkedin"
                              when :website then "fas fa-globe"
                              when :instagram then "fab fa-instagram"
                              end %>
              <i class="<%= icon_class %>"></i>
            <% end %>
            <% if displayed_social_media.empty? %>
              <i class="far fa-smile placeholder-icon" style="visibility: hidden;"></i>
            <% end %>
          </div>
        </nav>
        <p class="is-size-7"><%= project.description %></p>
        <p class="is-size-7">
          Product Hunt page: 
          <a href="<%= 'https://www.producthunt.com/products/' + project.project_id + '/launches' %>">
            <i class="fab fa-product-hunt fa-lg"></i>
          </a>
          Products Website: 
          <a href="<%= project.website %>">
            <i class="fas fa-globe fa-lg"></i>
          </a>
        </p>
        <time datetime="<%= project.date %>" class="is-size-7"><%= project.date %></time>
      </div>
      <div class="profiles">
        <% project.profiles.each do |profile| %>
          <div class="media">
            <div class="media-left">
              <figure class="image is-60x60">
                <img src="<%= profile.avatar_url %>" alt="<%= profile.name %>" style="height: 60px; width: 60px;">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5"><%= profile.name %></p>
              <p class="subtitle is-6">
                <% if current_user %>
                  <input type="checkbox" class="profile-checkmark" data-profile-id="<%= profile.id %>" data-project-id="<%= profile.project_launch.id %>" 
                  <% if current_user.checkmarks.exists?(profile: profile, checked: true) %>
                      checked="checked"
                  <% end %>
                  />
                <% else %>
                  <p>Please log in to check profiles</p>
                <% end %>
                <a href="<%= profile.url %>">
                  <i class="fab fa-product-hunt"></i>
                </a>
                <% if profile.twitter.present? %>
                  <a href="<%= profile.twitter %>"><i class="fab fa-twitter"></i></a>
                <% end %>
                <% if profile.github.present? %>
                  <a href="<%= profile.github %>"><i class="fab fa-github"></i></a>
                <% end %>
                <% if profile.linkedin.present? %>
                  <a href="<%= profile.linkedin %>"><i class="fab fa-linkedin"></i></a>
                <% end %>
                <% if profile.websites.present? %>
                  <a href="<%= profile.websites.first %>"><i class="fas fa-globe"></i></a>
                <% end %>
                <% if profile.instagram.present? %>
                  <a href="<%= profile.instagram %>"><i class="fab fa-instagram"></i></a>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </article>
</div>
