<!-- app/views/projects/_project.html.erb -->

<div class="box project" style="height: 100px;">
  <article class="media">
    <div class="media-left">
      <figure class="image is-60x60">
        <img src="<%= project.image %>" alt="<%= project.name %>" style="height: 60px; width: 60px;">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-5"><%= link_to project.name, project_path(project) %></h2>
        <p class="is-size-7"><%= project.description %></p>
        <time datetime="<%= project.date %>" class="is-size-7"><%= project.date %></time>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" href="#"><i class="fab fa-facebook"></i></a>
          <a class="level-item" href="#"><i class="fab fa-twitter"></i></a>
          <a class="level-item" href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </nav>
      <div class="profiles" style="display: none;">
        <% project.profiles.each do |profile| %>
          <div class="media">
            <div class="media-left">
              <figure class="image is-60x60">
                <img src="<%= profile.avatar_url %>" alt="<%= profile.name %>" style="height: 60px; width: 60px;">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5"><%= profile.name %></p>
              <p class="subtitle is-6">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </article>
</div>
