<section class="section">
  <div class="container">
    <div id="filter-menu" class="filter-container">
      <div class="filter-trigger">
        <button class="button" aria-haspopup="true" aria-controls="filter-content">
          <span>Filters</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="filter-content" id="filter-content" role="menu">
        <div class="dropdown-content">
          <%= form_with url: projects_path, method: :get, remote: true, local: true, id: 'filter-form' do |form|%>
            <%= hidden_field_tag 'social_media_list', '', id: 'social_media_list' %>
            <div class="columns">
              <div class="column">
                <label class="label" for="social_media">Options to Connect</label>
                <div class="field has-addons">
                  <label class="icon-checkbox">
                    <%= check_box_tag 'social_medias[]', 'twitter', @selected_social_medias.include?('twitter'), id: 'social_media_twitter', class: 'is-hidden', data: { active: @selected_social_medias.include?('twitter') } %>
                    <i class="fab fa-twitter social-icon"></i>
                  </label>
                  <label class="icon-checkbox">
                    <%= check_box_tag 'social_medias[]', 'websites', @selected_social_medias.include?('websites'), id: 'social_media_websites', class: 'is-hidden', data: { active: @selected_social_medias.include?('websites') } %>
                    <i class="fas fa-globe social-icon"></i>
                  </label>
                  <label class="icon-checkbox">
                    <%= check_box_tag 'social_medias[]', 'instagram', @selected_social_medias.include?('instagram'), id: 'social_media_instagram', class: 'is-hidden', data: { active: @selected_social_medias.include?('instagram') } %>
                    <i class="fab fa-instagram social-icon"></i>
                  </label>
                  <label class="icon-checkbox">
                    <%= check_box_tag 'social_medias[]', 'github', @selected_social_medias.include?('github'), id: 'social_media_github', class: 'is-hidden', data: { active: @selected_social_medias.include?('github') } %>
                    <i class="fab fa-github social-icon"></i>
                  </label>
                  <label class="icon-checkbox">
                    <%= check_box_tag 'social_medias[]', 'linkedin', @selected_social_medias.include?('linkedin'), id: 'social_media_linkedin', class: 'is-hidden', data: { active: @selected_social_medias.include?('linkedin') } %>
                    <i class="fab fa-linkedin social-icon"></i>
                  </label>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="start_date">Start Date</label>
                  <div class="control">
                    <%= date_field_tag :start_date, params[:start_date], class: 'input' %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="end_date">End Date</label>
                  <div class="control">
                    <%= date_field_tag :end_date, params[:end_date], class: 'input' %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="checkmark_status">Checkmark Status</label>
                  <div class="control">
                    <div class="select">
                      <%= select_tag :checkmark_status, options_for_select([['Any', ''], ['Verified', 'true'], ['Not Verified', 'false']], params[:checkmark_status]), class: 'input' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <%= submit_tag 'Filter', class: 'button is-primary' %>
              </div>
              <div class="control">
                <%= button_tag 'Clear Filter', type: 'button', class: 'button is-light', id: 'clear-filter-button' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="projects">
      <%= render partial: "project", collection: @projects, as: :project %>
    </div>
    <nav class="pagination" id="basic_pagination" role="navigation" aria-label="pagination">
      <%= will_paginate @projects, renderer: BulmaPaginationRenderer %>
    </nav>
  </div>
</section>