<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'projects' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Projects', projects_path %></li>
        <!-- Add more nav items here -->
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>© 2024 YourAppName</p>
  </footer>
</body>
</html>