<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>

  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'projects' %>

  <%= javascript_include_tag 'profile_checkmarks' %>
  <%= javascript_include_tag 'project_checkmarks' %>

  <%= javascript_include_tag 'combined_checkmarks' %>
  <%= javascript_include_tag 'dropdownFunctionality' %>



  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Projects', projects_path %></li>


        <% if user_signed_in? %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>

      <% else %>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: { disable_with: '<i class="fa fa-spinner fa-spin" />'}%>
      <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, method: :post %>
      <% end %>
      <div id="login-status" class="notification is-primary" style="position: fixed; top: 20px; right: 20px;">
      <% if current_user %>
        You are logged in as <%= current_user.email %>. <!-- You can customize this message -->
      <% else %>
        You are not logged in. <!-- You can customize this message -->
      <% end %>
    </div>

        <!-- Add more nav items here -->
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>© 2024 YourAppName</p>
  </footer>
</body>
</html>